name: Build & Run Tests

on:
  push:
    branches:
      - 'master'
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types:
      - created

jobs:
  build_and_run_tests:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - name: Checking out code base
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v5
        with:
          java-version: 11
          distribution: 'temurin'
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Testing and Packaging
        run: mvn -B verify -Dmaven.test.failure.ignore=false
        continue-on-error: false
